h1 {
	font-size: 56px;
}
h2 {
	font-size: 30px;
}
nav {
	background-color: #D0AE73;
	height: 50px;
	position: relative;
	text-align: center;
	margin-top: 20px;
	border-radius: 10px;

}
a {
	text-decoration: none;
	font-family: 'Bree Serif';
	color: black;
	display: inline-block;
	background-color: #7F625D;
	padding: 10px;
	margin-top: 4px;
	padding-right: 10px;
	border-radius: 10px;
}
a:hover {
	background-color: #CC6958;
}
body {
	background-color: #D0AE73;
	font-family: 'Bree Serif';
	text-align: center;

}
table {
	text-align: center;
	background-color: #7F625D;
	width: 25%;
	position: relative;
	margin: 0 auto;
	padding: 5px;
	min-width: 800px;

}
thead {
	background-color: #CC6958;
	font-weight: bolder;
	white-space: nowrap;
	padding: 0 7px;
	width: 12px;

}

td:first-of-type {
	background-color: #CC6958;
	font-weight: bolder;
	white-space: nowrap;
	padding: 0 7px;
	width: 125px;


}
section {
	background-color:#CC6958;
	max-width: 50%;
	margin-left: 25%;
	display: in;
}
input:focus {
	background-color: #CC6958;
	font-size: 120%;

}
button {
	margin-bottom: 10px;
}
tr {
width: 5%;

}

div.label {
	width: 200px;
display: inline-block;
text-align: left;
margin-left: 100px;
}
